html{
  min-height: 100%;
  position: relative;
}

body {
  width: 100%;
  margin-bottom: 5em;
}

/* ヘッダー */
.navbar {
  border-radius: 0;
}


/* フッター */
.footer {
  width: 100%;
  bottom: 0;
  height: 5em;
  position: absolute;
  background-color: #f5f5f5;
}


.footer > .container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
