<!DOCTYPE html>
<html>
<head th:replace="base :: common_head(title = ~{::title}, links = ~{::link})">
  <title>住所検索</title>
  <link href="/css/form.css" rel="stylesheet"/>
</head>
<body>
  <th:block th:replace="base :: common_header" />

  <div class="container-fluid">
    <div class="row">
      <main>
        <section id="search-condition-area" class="col-md-12">
          <h2>検索条件</h2>
          <form action="/address/search" th:action="@{/address/search}" method="post">
            <div class="form-group">
              <lable>郵便番号:</lable>
              <input type="text" class="form-control" name="addressZipCode" maxlength="8" placeholder="123-4567" />
              <small class="form-text text-muted">7桁の数字をハイフンつなぎで入力してください。</small>
            </div>
            <button type="submit" class="btn btn-primary">住所を検索</button>
          </form>
        </section>

        <section id="search-result-area" class="col-md-12 table-responsive" th:if="${addressList != null and addressList.isEmpty() == false}">
          <h2>検索結果<span id="result-count" th:text="' ' + ${addressList.size() + '件'}"></span></h2>
          <table class="table table-bordered table-striped" >
            <thead>
              <tr>
                <th>郵便番号</th>
                <th>都道府県</th>
                <th>都道府県カナ</th>
                <th>市</th>
                <th>市カナ</th>
                <th>区町村</th>
                <th>区町村カナ</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="address : ${addressList}" th:object="${address}">
                <td th:text="*{addressZipCode}"></td>
                <td th:text="*{stateName}"></td>
                <td th:text="*{stateKana}"></td>
                <td th:text="*{cityName}"></td>
                <td th:text="*{cityKana}"></td>
                <td th:text="*{sectionName}"></td>
                <td th:text="*{sectionKana}"></td>
              </tr>
            </tbody>
          </table>
        </section>
      </main>
    </div>
  </div>

  <th:block th:replace="base :: common_footer" />
</body>
</html>
