<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" ></meta>
<title>ログイン</title>
<link th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet"/>
<link href="/css/form.css" rel="stylesheet"/>
<script th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/axios/dist/axios.min.js}"></script>
</head>
<body>
	<div class="container">
		<div class="content">
			<p th:if="${param.logout}" class="alert">ログアウトしました。</p>
			<p th:if="${param.error}" class="alert alert-danger">ユーザー名かパスワードに間違いがあります。もう一度入力してください。</p>
			<h2 th:text="${@environment.getProperty('spring.application.name')}"></h2>
			<form id="login-form" th:action="@{/login}" action="/login" method="post">
				<input type="text" id="username" name="username" value="" placeholder="ユーザー名" />
				<input type="password" id="password" name="password" placeholder="パスワード" />
				<input type="submit" id="login" value="Login" class="btn btn-primary" />
			</form>
		</div>
	</div>
</body>
</html>