<!DOCTYPE html>
<html>
<head th:replace="base :: common_head(title = ~{::title}, links = ~{::link}, scripts = ~{::script})">
  <title>郵便番号検索</title>
  <link href="/css/zip-search.css" rel="stylesheet"/>
  <script src="/js/zip-search.js"></script>
</head>
<body>
  <th:block th:replace="base :: common_header" />

  <div class="main container-fluid">
    <div class="row">
      <section class="col-12">
        <div id="search-area">
          <div id="search-area-title">
            <h1>住所一覧検索</h1>
            <small>住所の階層を辿って目的の住所の地図を検索することが出来ます。都道府県から順に目的の住所を選択してください。</small>
          </div>
          <div th:each="entry : ${StatesWithReagion}">
            <div class="region-tilte" th:text="${entry.key}"></div>
            <div class="row state-area">
              <div class="col-xs-6 col-sm-4 col-md-3 state-block" th:each="state : ${entry.value}" th:object="${state}">                <a th:href="*{stateId}" th:text="*{stateName}"></a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <th:block th:replace="base :: common_footer" />
</body>
</html>
